<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seamfix.seamcode">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.seamfix.qrcode.enrollment.EnrollmentCameraActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.seamfix.qrcode.HomeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.seamfix.qrcode.CameraActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/> <!-- Download Barcode Detection Models from PlayStore upon App download -->
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode | face" /> <!-- <activity android:name="com.seamfix.qrcode.TestSingleFingerActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.seamfix.qrcode.EncodeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.seamfix.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.seamfix.qrcode.DecodedActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.seamfix.qrcode.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.seamfix.qrcode.FingerprintQrMatcherActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.seamfix.qrcode.enrollment.PreviewEnrollmentActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.seamfix.qrcode.enrollment.EnrollmentFingerprintActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.seamfix.qrcode.enrollment.FormActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.seamfix.qrcode.verification.VerificationCameraActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.seamfix.qrcode.enrollment.EnrollmentFingerTypeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.seamfix.qrcode.verification.VerificationFingerprintActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.seamfix.qrcode.verification.VerificationDetailsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.seamfix.qrcode.verification.FingerVerificationDetailsActivity" />
        <activity android:name="com.seamfix.qrcode.enrollment.ImageEnrollmentCameraActivity" />
        <activity android:name="com.seamfix.qrcode.verification.ImageVerificationActivity" />
        <activity android:name="com.seamfix.qrcode.verification.FailedVerificationDetailsActivity" />
    </application>

</manifest>